/* base */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --background-color: rgb(217, 217, 217);
    --border-color: solid 1px rgb(170, 170, 170);
    --font-size-pricipal: 1.25rem
}
body{
    display: flex;
}
/* nav */
/* perfil do usuario */
nav{
    background-color: var(--background-color);
    width: 25%;
}
#perfil{
    display: flex;
    padding: 6px 16px;
    justify-content: space-between;    
    flex-direction: row-reverse;
    border: var(--border-color);
}
#perfil div{
    display: flex;

    gap: 12px;
}
#perfil img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
/* Text input */
.pesquisa{
    padding: 10px;
    border-bottom:var(--border-color) ;
    border-left:var(--border-color) ;
    border-right:var(--border-color) ;
}
.pesquisa div{
    border: var(--border-color);
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 3px 12px;
    gap: 25px;
}
.pesquisa div img{
    height: 30px;
    width: 30px;
}
.pesquisa div input{
    border: none;
    font-size: var(--font-size-pricipal);
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
}
.pesquisa div input:focus{
    outline: none;
}

/* main */
main{
    width: 75%;
}

/* header do main */
.mainHeader{
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 16px;
    border-bottom: var(--border-color);
    border-right: var(--border-color);
    border-top: var(--border-color);
}
.mainHeader div{
    gap: 12.5px;
    display: flex;
    align-items: center;
}
#heroProfile img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
#mainHeader div h2{
    font-size: var(--font-size-pricipal);
}
.bonusInfornmation img{
    height: 50px;
    width: 50px;
    border-radius: 0%;
}
/* nav */
#contatos{
    background-color: var(--background-color);
    height: auto;
}
#contatos div{
    display: flex;
    margin: 5px;
    align-items: center;
    gap: 12px;
    font-size: var(--font-size-pricipal);
    border: var(--border-color);
    background-color: white;
    border-radius: 5px;
}

#contatos div img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
/* Mensagens */
#messages{
    
}
/* footer */
#footer{
    display: flex;
    background-color: var(--background-color);
    justify-content: center;
    align-items: center;
}
#footer img{
    height: 30px;
    width: 30px;
}
#footer div{
    border: var(--border-color);
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 3px 12px;
    gap: 25px;
}
#footer div input{
    font-size: var(--font-size-pricipal);
    border: none;
}
#footer div input:focus{
    outline: none;
}
